.lottery{
  border: double rgb(230, 124, 39) 4px;
  border-radius: 25px;
  margin: 10px 400px;
  text-align: center;
  padding:25px;
}

.lottery button{
  background-color:purple;
  padding: 10px;
  color:white;
  font-weight: bold;
  margin: 20px 0 0 0;
}