/* .bg{
  height:100vh;
  background:linear-gradient(120deg,#21f1f8 0%,#21f1f8 50%, #fa57ec 50%, #fa57ec 100%);
  align-items: center;
  
}

a{
  margin:0 10%;
  display: inline-block;
}
.pages{
  height:60%;
  width:60%;
  background-color: antiquewhite;
  box-shadow: 30px 30px 30px black;
}
.active-link{
  color: white;
} */